@using MvcStok.Models.Entity
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<a href="/Musteri/YeniMusteri/" class="btn btn-info">Yeni Müşteri Ekle</a>
<table class="table table-bordered">
    <tr>
        <th>MÜŞTERİ ID</th>
        <th>MÜŞTERİ ADI</th>
        <th>MÜŞTERİ SOYADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach (var mstr in Model)
        {
            <tr>
                <th>@mstr.MUSTERIID</th>
                <td>@mstr.MUSTERİAD</td>
                <td>@mstr.MUSTERİSOYAD</td>
                <td><a href="/Musteri/Sil/@mstr.MUSTERIID" class="btn btn-danger">SİL</a> </td>
                <td><a href="/Musteri/Guncelle/@mstr.MUSTERIID" class="btn btn-success">GÜNCELLE</a> </td>
            </tr>
        }
    </tbody>
</table>

